<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mybraby</title>
  </head>
  <body>
    <p>before</p>
    <%- body %>
    <p>afetr</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quam beatae, dolore
    voluptatum atque ipsa nulla illum saepe repellendus praesentium? Dolorem, dolor officia.
  </body>
</html>
